*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body{
    background-color:  hsl(233, 47%, 7%);
    color: white;
    width: 100%;
    min-height: 800px;
    font-family: 'Inter';
    font-family: 'Lexend Deca';
    
}
@media(min-width:960px){


    .effect{
        display: none;
    }
main{
    width:700px;
    margin: 200px auto;
    height: 360px;
    
   
    
}
.main-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: hsl(244, 38%, 16%) ;
    height: 360px;
    border-radius: 2% 0 0  2%;
  
    
   
}
.container-one{
    padding:40px;
    width: 380px;
}
 .filter{
    width: 100%;
    background-color:   hsl(277, 64%, 61%); 
    height:360px;
    border-radius: 0 3% 3% 0;
     
    
}
.desktop  {
    width:100%;
    height: 360px;
     filter:opacity(40%) ; 
     border-radius: 0 3% 3% 0;
   
     
      
} 
 
} 



.insight{
    color: hsl(277, 64%, 61%);
}
h1{
    font-family: 'Inter';
    font-size: 25px;
    padding: 0, 15px;
    
    
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    margin-top: 30px;
    font-family: 'Inter';
    position:relative;
    left:5px;
    right:10px;
    font-size: 15px;
   
}
.Grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 100px);
    margin-top: 70px;
    

}
.templates{
    display: flex;
    flex-direction: column;
    position:relative;
    bottom: 10px;
}
.queries{
    display:flex;
    flex-direction: column;
    position: relative;
    bottom: 10px;
    
}
.number{
    font-size: 20px;
}
.alphabet{
color:hsla(0, 0%, 100%, 0.75) ;
font-size: 13px
}
.companies{
    position: relative;
    bottom: 10px;
}
.attribution {
     font-size: 11px; 
     text-align: center;
     position: relative;
     bottom: 5px;
     right:30px;
     top: -40px;
    
     }
.attribution a {
     color: hsl(228, 45%, 44%); 
    }
@media(max-width:960px){
    main{
        width: 350px;
        min-height: 650px;
     background-color: hsl(244, 38%, 16%) ;
     margin: 100px auto;
     border-radius: 3%;
        
    }
    .main-container{
         display: flex;
        flex-direction: column-reverse; 
        margin-top: 20px;
    }
    .container-one{
          text-align: center;
          padding-left: 50px;
          padding-right: 50px;
        position: relative;
    }
    h1{
        margin-top: 15px;
    }
    
    p{
       
        margin-top: 10px;
        font-size: 15px;
     
        
    }
    .Grid{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }
    .templates, .companies, .queries{
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-top: 20px;
    }
    
    .effect {
        width: 100%;
        background-color:   hsl(277, 64%, 61%); 
        height:200px;
        border-radius: 3% 3% 0 0 ;
        
    }
    .filter{
        display: none;
    }
    .mobile{
        width:100%;
        height: 200px;
         filter:opacity(40%) ; 
         border-radius: 3% 3% 0 0 ;
        
    }
    
    .attribution {
        font-size: 10px; 
        position: relative;
        top: 3px;
         left: 10px;
        }
   .attribution a {
        color: hsl(228, 45%, 44%); 
       }
    
    }
